@model ActivosNetCore.Models.TicketModel

@{
    ViewData["Title"] = "Detalles del Ticket";
}
@if (TempData["MensajeOk"] != null)
{
        <div class="alert alert-success text-center">
        @TempData["MensajeOk"]
        </div>
}
@if (TempData["MensajeError"] != null)
{
        <div class="alert alert-danger text-center">
        @TempData["MensajeError"]
        </div>
}
<div class="content-wrap mt-5 p-3">
    <div class="main">
        <div class="container-fluid overflow-hidden">
            <div class="row g-0">
                <div class="col-12">
                    <div class="card-header bg-secondary"><h3 class="text-white">Detalles del ticket</h3></div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <form asp-action="EditarTicket" asp-controller="Ticket">
                                <div class="row g-5 p-3 mb-4 border-bottom">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Urgencia del Ticket:</label>
                                            <input type="text" class="form-control" asp-for="Urgencia" placeholder="" readonly />

                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Detalle:</label>
                                            <input type="text" class="form-control" readonly asp-for="Detalle" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Fecha:</label>
                                            <input type="text" class="form-control" asp-for="Fecha" placeholder="" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex flex-column">
                                        <div class="mb-3">
                                            <label class="form-label">Solucionado:</label>
                                            <input type="text" class="form-control" readonly
                                                   value="@(Model.Solucionado ? "Si" : "No")" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Comentario del técnico:</label>
                                            <input type="text" class="form-control" asp-for="DetalleTecnico" placeholder="" readonly />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Creado por:</label>
                                            <input type="text" class="form-control" asp-for="NombreUsuario" value="@Model.NombreUsuario" placeholder="" readonly />
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Asignado a:</label>
                                            <input type="text" class="form-control" asp-for="NombreResponsable" value="@Model.NombreResponsable" placeholder="" readonly />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Departamento:</label>
                                            <input type="text" class="form-control" asp-for="NombreDepartamento" value="@Model.NombreDepartamento" placeholder="" readonly />
                                        </div>
                                        <div class="d-grid gap-5 align-self-end mt-3 row">
                                            <div class="col-4">
                                                <form asp-action="EliminarActivo" asp-controller="Ticket">
                                                    <input type="hidden" asp-for="IdTicket">
                                                    <button type="submit" class="btn btn-dark" id="btnEliminar">Eliminar</button>
                                                </form>
                                            </div>
                                            <div class="col-4">
                                                <a type="button" class="btn btn-secondary text-white" href="@Url.Action("EditarTicket","Ticket", new { idTicket = Model.IdTicket})">Editar</a>
                                            </div>
                            </form>
                            <div class="col-4">
                                <a asp-action="ListaTicket" class="btn btn-secondary">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
<script>
    $("#btnEliminar").click(function (e) {
        var confirmar = confirm("¿Estás seguro de que deseas eliminar este ticket?");
        if (confirmar) {
            $("form").submit();
        } else {
            e.preventDefault();
        }
    });
</script>



