﻿
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestor de Activos</title>

    <!-- Estilos -->
    <link href="~/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/assets/css/lib/weather-icons.css" rel="stylesheet">
    <link href="~/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/lib/data-table/dataTables.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/select2/css/select2.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

</head>

<body class="h-100">

    <!-- Barra Lateral -->
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures" style="min-width: 200px; min-height: 100vh">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo text-center mt-3">
                        <i class="ti-user" style="font-size: 48px; color: white;"></i>
                        <div class="mt-2">
                            <strong>@Context.Session.GetString("Usuario")</strong><br />
                            <small>@Context.Session.GetString("Rol")</small><br />

                            <a asp-controller="Usuarios" asp-action="PerfilUsuario" class="btn btn-primary btn-sm mt-2">
                                Ver Perfil
                            </a>
                        </div>
                    </div>


                    <hr>
                    <div class="logo"><a href="#"><span>Gestor Activos</span></a></div>
                    <hr>
                    @if (Context.Session.GetString("Rol") == "Administrador" || Context.Session.GetString("Rol") == "Soporte")
                    {
                        <li class="label">Administrador</li>
                        <li><a asp-controller="Usuarios" asp-action="ListaUsuarios"><i class="ti-key"></i>Usuarios</a></li>
                        <li><a asp-controller="Usuarios" asp-action="RegistrarCuenta"><i class="ti-plus"></i>Registrar Usuario</a></li>
                        <hr>
                        <li class="label">Principal</li>
                        <li><a asp-controller="Activos" asp-action="ListaActivos"><i class="ti-view-list-alt"></i>Lista de Activos</a></li>
                        <li><a asp-controller="Activos" asp-action="AgregarActivo"><i class="ti-plus"></i>Agregar Activo</a></li>
                        <hr>
                    }
                    <li class="label">Mi perfil</li>
                    <li>
                        <a asp-controller="Usuarios" asp-action="DetallesUsuario" asp-route-idUsuario="@(Context.Session.GetInt32("UserId") ?? 0)">
                            <i class="ti-view-list-alt"></i>Mi Perfil
                        </a>
                    </li>
                    <hr>
                    <li class="label">Ticketes</li>
                    @if (Context.Session.GetString("Rol") == "Administrador" || Context.Session.GetString("Rol") == "Soporte")
                    {
                        <li><a asp-controller="Ticket" asp-action="ListaTicket"><i class="ti-view-list-alt"></i>Lista de Ticketes</a></li>
                    }
                    <li><a asp-controller="Ticket" asp-action="AgregarTicket"><i class="ti-plus"></i>Crear Ticket</a></li>
                    <hr>
                    @if (Context.Session.GetString("Rol") == "Administrador" || Context.Session.GetString("Rol") == "Soporte")
                    {
                        <li class="label">Mantenimientos</li>
                        <li><a asp-controller="Mantenimiento" asp-action="ListaMantenimiento"><i class="ti-view-list-alt"></i>Lista de Mantenimientos</a></li>
                        <li><a asp-controller="Mantenimiento" asp-action="AgregarMantenimiento"><i class="ti-plus"></i>Solicitar Mantenimiento</a></li>
                        <hr>

                        <li class="label">Historial</li>
                        <li><a asp-controller="Mantenimiento" asp-action="HistorialMantenimiento"><i class="ti-align-left"></i>Historial de Mantenimiento</a></li>
                        <li><a a asp-controller="Auditoria" asp-action="ListaAuditoria"><i class="ti-align-left"></i>Historial de Auditoría</a></li>
                        <li><a asp-controller="Ticket" asp-action="HistorialTicket"><i class="ti-align-left"></i>Historial de Ticket</a></li>

                        <hr>
                    }



                    <li><a asp-controller="Login" asp-action="CerrarSesion"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <style>
        .row {
            overflow-x: hidden !important;
            max-width: 100% !important;
        }
    </style>

    <!-- Contenido Principal -->
    <div class="main-content" style="margin-inline-start: 240px">
        @RenderBody()
    </div>

    <!-- Scripts -->
    <script src="~/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/js/plugins-init/select2-init.js"></script>
    <script src="~/assets/js/lib/jquery.nanoscroller.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>